<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CalculadoraIMC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6153E2F61F3771FC007948C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6153E30A1F3771FD007948C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6153E3151F3771FD007948C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
